<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>Cart</h1>
      </div>
      <form action="/reservations/checkout" method="POST">
	<table class="table">
	  <tr><th>Description</th><th>Price</th><th>Qty</th></tr>
	  {{range $i, $_ := .}}
	  <tr>
	    <td>Tour {{.TourCode}} ({{.TourTime.Format "2 January 2006"}})</td>
	    <td>{{printf "$%.2f" .TourPrice}}</td>
	    <td>
	      <input type="hidden"
		     name="Items.{{$i}}.TourID"
		     value="{{.CartItem.TourID}}"/>
	      <input type="text"
		     name="Items.{{$i}}.Quantity"
		     value="{{.CartItem.Quantity}}"/>
	    </td>
	  </tr>
	  {{end}}
	</table>
	<button type="submit" class="btn btn-primary">Checkout</button>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
