<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bike the Big Apple - Checkout</title>
    <link rel="shortcut icon" href="https://bikethebigapple.com/images/ui/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey({{.StripePublishableKey}});
      var stripeResponseHandler = function(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
          // Show the errors on the form
          $form.find('.payment-errors').text(response.error.message);
          $form.find('.payment-errors-row').show();
          $form.find('button').prop('disabled', false);
        } else {
          // token contains id, last4, and card type
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="StripeToken" />').val(token));
          // and re-submit
          $form.get(0).submit();
        }
      };
      jQuery(function($) {
        $('#payment-form').submit(function(e) {
          var $form = $(this);
          // Disable the submit button to prevent repeated clicks
          $form.find('button').prop('disabled', true);
          Stripe.card.createToken($form, stripeResponseHandler);
          // Prevent the form from submitting with the default action
          return false;
        });
      });

      var numRidersChanged = function(n, price) {
        riders = document.getElementById('riders')
        if (riders != null) {
          c = riders.childNodes;
          rowsToDisplay = 2 * n;  // for gender + height
          for (i = 0; i < c.length; i++) {
            if (c[i].className == 'form-group') {
              if (rowsToDisplay == 0) {
                c[i].style.display = 'none';
              } else {
                c[i].style.display = null;
                rowsToDisplay--;
              }
            }
          }
        }
        total = n * price;
        document.getElementById('total').innerHTML = '$' + total.toFixed(2);
        document.getElementById('quotedTotal').value = total
      }
    </script>
  </head>
  <body onload="numRidersChanged(1, {{.TourDetail.Price}})">
    <div class="container">
      <div class="jumbotron">
        <h1>Bike the Big Apple &ndash; Checkout</h1>
      </div>
      <form class="form-horizontal" action="/checkout/confirmation" method="POST" id="payment-form">
        <input type="hidden" name="TourID" value="{{.TourDetail.ID}}"/>
        <input type="hidden" name="QuotedTotal" id="quotedTotal"/>
        <div class="form-group">
          <label class="col-sm-2 control-label">Tour</label>
          <div class="col-sm-6">
            <p class="form-control-static">{{.TourDetail.Code}} &ndash; {{.TourDetail.LongName}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Date &amp; time</label>
          <div class="col-sm-6">
            <p class="form-control-static">{{.TourDetail.Time.Format "Monday, _2 January 2006 at 3:04 pm"}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Price</label>
          <div class="col-sm-6">
            <p class="form-control-static">{{printf "$%.2f" .TourDetail.Price}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputNumRiders" class="col-sm-2 control-label">Number of riders</label>
          <div class="col-sm-6">
            <select id="inputNumRiders" class="form-control" name="NumRiders" onchange="numRidersChanged(parseInt(this.value), {{.TourDetail.Price}});">
              {{range .NumRidersOptions}}
              <option value="{{.}}">{{.}}</option>
              {{end}}
            </select>
          </div>
        </div>
        {{if .TourDetail.HeightsNeeded}}
        <div id="riders">
          {{range .NumRidersOptions}}
          <div class="form-group" style="display: none;">
            <label for="inputRiderGender{{.}}" class="col-sm-2 control-label">Rider #{{.}} gender</label>
            <div class="col-sm-6">
              <select id="inputRiderGender{{.}}" class="form-control" name="RiderGenders">
                <option value="">-- select gender --</option>
                <option value="F">female</option>
                <option value="M">male</option>
                <option value="X">prefer not to say</option>
              </select>
            </div>
          </div>
          <div class="form-group" style="display: none;">
            <label for="inputRiderHeight{{.}}" class="col-sm-2 control-label">Rider #{{.}} height</label>
            <div class="col-sm-6">
              <select id="inputRiderHeight{{.}}" class="form-control" name="RiderHeights">
                <option value="0">-- select height --</option> <!-- use "0" so gorilla decodes it -->
                <option value="-1">unknown</option>
                <option value="1">less than 4&prime;08&Prime; (less than 142 cm)</option>
                <option value="56">4&prime;08&Prime; (142 cm)</option>
                <option value="57">4&prime;09&Prime; (145 cm)</option>
                <option value="58">4&prime;10&Prime; (147 cm)</option>
                <option value="59">4&prime;11&Prime; (150 cm)</option>
                <option value="60">5&prime;00&Prime; (152 cm)</option>
                <option value="61">5&prime;01&Prime; (155 cm)</option>
                <option value="62">5&prime;02&Prime; (157 cm)</option>
                <option value="63">5&prime;03&Prime; (160 cm)</option>
                <option value="64">5&prime;04&Prime; (163 cm)</option>
                <option value="65">5&prime;05&Prime; (165 cm)</option>
                <option value="66">5&prime;06&Prime; (168 cm)</option>
                <option value="67">5&prime;07&Prime; (170 cm)</option>
                <option value="68">5&prime;08&Prime; (173 cm)</option>
                <option value="69">5&prime;09&Prime; (175 cm)</option>
                <option value="70">5&prime;10&Prime; (178 cm)</option>
                <option value="71">5&prime;11&Prime; (180 cm)</option>
                <option value="72">6&prime;00&Prime; (183 cm)</option>
                <option value="73">6&prime;01&Prime; (185 cm)</option>
                <option value="74">6&prime;02&Prime; (188 cm)</option>
                <option value="75">6&prime;03&Prime; (191 cm)</option>
                <option value="76">6&prime;04&Prime; (193 cm)</option>
                <option value="77">6&prime;05&Prime; (196 cm)</option>
                <option value="78">6&prime;06&Prime; (198 cm)</option>
                <option value="100">more than 6&prime;06&Prime; (more than 198 cm)</option>
              </select>
            </div>
          </div>
          {{end}}
        </div>
        {{end}}
        <div class="form-group">
          <label class="col-sm-2 control-label">Total</label>
          <div class="col-sm-6">
            <p class="form-control-static" id="total"></p>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-6">
            <input id="inputName" type="text" class="form-control" name="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputNumber" class="col-sm-2 control-label">Card number</label>
          <div class="col-sm-6">
            <input id="inputNumber" type="number" class="form-control" data-stripe="number">
          </div>
        </div>
        <div class="form-group">
          <label for="inputCVC" class="col-sm-2 control-label">CVC</label>
          <div class="col-sm-6">
            <input id="inputCVC" type="number" class="form-control" data-stripe="cvc">
          </div>
        </div>
        <div class="form-group">
          <label for="inputExpMonth" class="col-sm-2 control-label">Expiration month</label>
          <div class="col-sm-6">
            <select id="inputExpMonth" class="form-control" data-stripe="exp-month">
              <option value="0">-- select month --</option>
              <option value="1">(01) January</option>
              <option value="2">(02) February</option>
              <option value="3">(03) March</option>
              <option value="4">(04) April</option>
              <option value="5">(05) May</option>
              <option value="6">(06) June</option>
              <option value="7">(07) July</option>
              <option value="8">(08) August</option>
              <option value="9">(09) September</option>
              <option value="10">(10) October</option>
              <option value="11">(11) November</option>
              <option value="12">(12) December</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputExpYear" class="col-sm-2 control-label">Expiration year</label>
          <div class="col-sm-6">
            <select id="inputExpYear" class="form-control" data-stripe="exp-year">
              <option value="0">-- select year --</option>
              {{range .ExpiryYearOptions}}
              <option value="{{.}}">{{.}}</option>
              {{end}}
            </select>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-6">
            <input id="inputEmail" type="email" class="form-control" name="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputMobile" class="col-sm-2 control-label">Mobile phone</label>
          <div class="col-sm-6">
            <input id="inputMobile" type="tel" class="form-control" name="Mobile">
          </div>
        </div>
        <div class="form-group">
          <label for="inputHotel" class="col-sm-2 control-label">Hotel</label>
          <div class="col-sm-6">
            <input id="inputHotel" type="text" class="form-control" name="Hotel">
          </div>
        </div>
        <div class="form-group">
          <label for="inputMisc" class="col-sm-2 control-label">Anything special you'd like us to know?</label>
          <div class="col-sm-6">
            <textarea id="inputMisc" class="form-control" rows="3" name="Misc"></textarea>
          </div>
        </div>
        <div class="row payment-errors-row" style="display: none;">
          <div class="col-sm-6 col-sm-offset-2">
            <div class="alert alert-danger" role="alert">
              <span class="payment-errors"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Complete purchase</button>
          </div>
        </div>
      </form>
    </div>
    <br><br><br><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
