<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey({{.StripeKey}});
      var stripeResponseHandler = function(status, response) {
	var $form = $('#payment-form');
	if (response.error) {
	  // Show the errors on the form
	  $form.find('.payment-errors').text(response.error.message);
	  $form.find('button').prop('disabled', false);
	} else {
	  // token contains id, last4, and card type
	  var token = response.id;
	  // Insert the token into the form so it gets submitted to the server
	  $form.append($('<input type="hidden" name="StripeToken" />').val(token));
	  // and re-submit
	  $form.get(0).submit();
	}
      };
      jQuery(function($) {
	$('#payment-form').submit(function(e) {
	  var $form = $(this);
	  // Disable the submit button to prevent repeated clicks
	  $form.find('button').prop('disabled', true);
	  Stripe.card.createToken($form, stripeResponseHandler);
	  // Prevent the form from submitting with the default action
	  return false;
	});
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>Checkout</h1>
      </div>
      <table class="table">
	<tr><th>Description</th><th>Price</th><th>Qty</th><th>Amount</th></tr>
	{{range .Items}}
	<tr>
	  <td>Tour {{.TourDetail.Tour.Code}} ({{.TourDetail.Time.Format "2 January 2006"}})</td>
	  <td>{{printf "$%.2f" .TourDetail.Price}}</td>
	  <td>{{.Quantity}}</td>
	  <td>{{printf "$%.2f" .Amount}}</td>
	</tr>
	{{end}}
	<tr><th></th><th></th><th>Total</th><th>{{printf "$%.2f" .Total}}</th></tr>
      </table>
      <form class="form-horizontal" action="/reservations/confirmation" method="POST" id="payment-form">
	<!-- TODO: Better error display. -->
	<span class="payment-errors"></span>
	<div class="form-group">
	  <label for="inputName" class="col-sm-2 control-label">Name</label>
	  <div class="col-sm-6">
	    <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name">
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputEmail" class="col-sm-2 control-label">Email</label>
	  <div class="col-sm-6">
	    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email">
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputNumber" class="col-sm-2 control-label">Card Number</label>
	  <div class="col-sm-6">
	    <input type="number" class="form-control" id="inputNumber" placeholder="eg: 4242424242424242" data-stripe="number">
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputCVC" class="col-sm-2 control-label">CVC</label>
	  <div class="col-sm-6">
	    <input type="number" class="form-control" id="inputCVC" placeholder="eg: 123" data-stripe="cvc">
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputExpMonth" class="col-sm-2 control-label">Expiration Month</label>
	  <div class="col-sm-6">
	    <input type="number" class="form-control" id="inputExpMonth" placeholder="eg: 01" data-stripe="exp-month">
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputExpYear" class="col-sm-2 control-label">Expiration Year</label>
	  <div class="col-sm-6">
	    <input type="number" class="form-control" id="inputExpYear" placeholder="eg: 2016" data-stripe="exp-year">
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-sm-offset-2">
	    <button type="submit" class="btn btn-primary">Submit Payment</button>
	  </div>
	</div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
