<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>Checkout</h1>
      </div>
      <table class="table">
	<tr><th>Description</th><th>Price</th><th>Qty</th><th>Amount</th></tr>
	{{range .Items}}
	<tr>
	  <td>Tour {{.TourDetail.Tour.Code}} ({{.TourDetail.Time.Format "2 January 2006"}})</td>
	  <td>{{printf "$%.2f" .TourDetail.Price}}</td>
	  <td>{{.Quantity}}</td>
	  <td>{{printf "$%.2f" .Amount}}</td>
	</tr>
	{{end}}
	<tr><th></th><th></th><th>Total</th><th>{{printf "$%.2f" .Total}}</th></tr>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
