<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bike the Big Apple - Confirmation</title>
    <link rel="shortcut icon" href="https://bikethebigapple.com/images/ui/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
      @font-face {
        font-family: BebasNeueRegular;
        src: url('https://storage.googleapis.com/btbastatic/BebasNeue-webfont.woff');
      }
      @font-face {
        font-family: SEGOEUI;
        src: url('https://storage.googleapis.com/btbastatic/SEGOEUI.woff');
      }
      body {
        background-color: #000000;
        font-family: SEGOEUI;
        font-size: 17px;
      }
      div.container {
        background-color: #ffffff;
      }
      div.jumbotron {
        background-color: #e00000;
        color: #ffffff;
        font-family: BebasNeueRegular;
        letter-spacing: 2px;
      }
    </style>
    {{if .GoogleTrackingID}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{.GoogleTrackingID}}', 'auto');
      ga('send', 'pageview');
    </script>
    {{end}}
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>BIKE THE BIG APPLE- CONFIRMATION</h1>
      </div>
      {{if .Warnings}}
      <div class="alert alert-warning" role="alert">
        WARNING: We have recorded your information and payment, but we
        cannot confirm your reservation at this time.  Please contact
        <a href="mailto:explore@bikethebigapple.com">explore@bikethebigapple.com</a>
        immediately regarding your reservation.
      </div>
      {{else}}
      <div class="alert alert-info" role="alert">
        Thank you for your reservation. Please review the details
        below; if anything is incorrect, contact
        <a href="mailto:explore@bikethebigapple.com">explore@bikethebigapple.com</a>
        immediately.
      </div>
      {{end}}
      <dl class="dl-horizontal">
        <dt>Tour</dt>
        <dd>{{.TourDetail.Code}} &ndash; {{.TourDetail.LongName}}</dd>
        <dt>Date &amp; time</dt>
        <dd>{{.TourDetail.Time.Format "Monday, 2 January 2006 at 3:04 pm"}}</dd>
        <dt>Number of riders</dt>
        <dd>{{.NumRiders}}</dd>
        <dt>Total</dt>
        <dd>{{.DisplayTotal}}</dd>
        <hr>
        <dt>Name</dt>
        <dd>{{.Name}}</dd>
        <dt>Email</dt>
        <dd>{{.Email}}</dd>
        <dt>Mobile phone</dt>
        <dd>{{.Mobile}}</dd>
        <dt>Local phone (e.g. hotel)</dt>
        <dd>{{.Hotel}}</dd>
        <dt>Notes</dt>
        <dd>{{.Misc}}</dd>
      </dl>
      <a href="https://www.bikethebigapple.com/" class="btn btn-primary btn-lg">Return to BIKE THE BIG APPLE to book more tours</a>
      <br><br><br><br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {{if (and (ne .GoogleConversionID "0") .GoogleConversionLabel)}}
    <script type="text/javascript">
      {{.CDATABegin}}
      var google_conversion_id = {{.GoogleConversionID}};
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "{{.GoogleConversionLabel}}";
      var google_remarketing_only = false;
      {{.CDATAEnd}}
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/{{.GoogleConversionID}}/?label={{.GoogleConversionLabel}}&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
    {{end}}
  </body>
</html>
